.root {
	bar-color: linear-gradient(to bottom, rgb(240, 240, 240), rgb(205, 205, 205));
	panel-color: linear-gradient(to bottom, rgb(230, 235, 240), rgb(210, 217, 225));
	control-color: rgb(100, 100, 100);
	border-color: rgb(175, 175, 175);
}

.button {
	-fx-background-color: transparent;
	-fx-background-repeat: no-repeat;
}

.split-pane {
	-fx-background-color: border-color;
	-fx-background-radius: 0px 0px 6px 6px;
}

.split-pane .split-pane-divider {
	-fx-padding: 0px;
	-fx-border-color: border-color;
}

.split-pane .split-pane-divider .horizontal-grabber {
	-fx-background-color: transparent;
}

.tree-view {
	-fx-background-color: transparent;
	-fx-padding: 0px;
}

.tree-cell {
	-fx-indent: 5px;
	-fx-padding: 2px 0px 2px 0px;
	-fx-background-color: transparent;
	-fx-border-insets: 1px 0px 0px 0px;
	-fx-background-insets: 2px 0px 0px 0px;
}

.tree-cell:selected {
	-fx-background-color: linear-gradient(to bottom, rgb(215, 225, 245), rgb(190, 215, 245));
	-fx-border-color: border-color transparent border-color transparent;
}