#title-bar {
	-fx-background-color: bar-color;
	-fx-background-radius: 6px 6px 0px 0px;
	-fx-border-color: border-color;
	-fx-border-radius: 5px 5px 0px 0px;
	-fx-border-width: 1px;
}

#settings-button {
	-fx-translate-x: 10px;
	-fx-translate-y: 4px;
}

#settings-button .button {
	-fx-background-image: url("../images/buttons/settings.png");
}

#settings-button .button:hover {
	-fx-background-image: url("../images/buttons/settings_hover.png");
}

#title {
	-fx-translate-x: 35px;
	-fx-translate-y: 5px;
	-fx-text-fill: control-color;
}

#title .label {
	-fx-font: bold 18px calibri;
}

#minimize-button {
	-fx-translate-x: -24px;
	-fx-translate-y: 17px;
}

#minimize-button .button {
	-fx-background-image: url("../images/buttons/minimize.png");
}

#minimize-button .button:hover {
	-fx-background-image: url("../images/buttons/minimize_hover.png");
}

#maximize-button {
	-fx-translate-x: -14px;
	-fx-translate-y: 5px;
}

#maximize-button .button {
	-fx-background-image: url("../images/buttons/maximize.png");
}

#maximize-button .button:hover {
	-fx-background-image: url("../images/buttons/maximize_hover.png");
}

#restore-button {
	-fx-translate-x: -14px;
	-fx-translate-y: 5px;
}

#restore-button .button {
	-fx-background-image: url("../images/buttons/restore.png");
}

#restore-button .button:hover {
	-fx-background-image: url("../images/buttons/restore_hover.png");
}

#close-button {
	-fx-translate-x: -4px;
	-fx-translate-y: 6px;
}

#close-button .button {
	-fx-background-image: url("../images/buttons/close.png");
}

#close-button .button:hover {
	-fx-background-image: url("../images/buttons/close_hover.png");
}