.side-panel {
	-fx-background-color: panel-color;
}

.message-panel {
	-fx-background-color: rgb(230, 230, 230);
}

.bottom-bar {
	-fx-background-color: bar-color;
	-fx-border-color: border-color;
	-fx-border-width: 1px 0px 0px 0px;
}

#left-side-panel .bottom-bar {
	-fx-background-radius: 0px 0px 0px 5px;
}

#right-side-panel .bottom-bar {
	-fx-background-radius: 0px 0px 5px 0px;
}