.light-pane {
	-fx-background-color: light-background-color;
	-fx-border-color: border-color;
}

.dark-pane {
	-fx-background-color: background-color;
	-fx-border-color: border-color;
}

#tab-button-pane {
	-fx-border-width: 0px 1px 1px 1px;
}

#tab-list {
	-fx-border-width: 0px 1px 1px 1px;
	-fx-border-radius: 0px 0px 0px 4px;
	-fx-background-radius: 0px 0px 0px 4px;
	-fx-padding: 0px;
	-fx-border-insets: 0px;
}

#topic-pane {
	-fx-border-width: 0px 1px 1px 0px;
}

#left-topic-box {
	-fx-padding: 15px 15px 15px 15px;
}

#left-topic-box-channel {
	-fx-padding: 8px 15px 15px 15px;
}

.type {
	-fx-text-fill: control-color;
	-fx-font-size: 14pt;
}

.name {
	-fx-text-fill: dark-control-color;
	-fx-font-size: 24pt;
}

.topic {
	-fx-text-fill: control-color;
	-fx-font-size: 14pt;
}

#right-topic-box {
	-fx-padding: 26px 20px 26px 20px;
	/*-fx-padding: 0px;*/
}

#user-list {
	-fx-background-color: light-background-color;
	-fx-border-color: border-color;
	-fx-border-width: 0px 1px 0px 1px;
	-fx-padding: 10px 15px 10px 15px;
}

#user-list:focused {
	-fx-border-color: border-color;
	-fx-border-width: 0px 1px 0px 1px;
}

#user-rank-cell {
	-fx-border-color: light-line-color;
	-fx-border-width: 1px 0px 0px 0px;
}

#user-label {
	-fx-font-size: 13pt;
	-fx-text-fill: control-hover-color;
}

#rank-label {
	-fx-font-size: 13pt;
	-fx-text-fill: control-color;
}

#input-pane {
	-fx-border-width: 1px 0px 1px 0px;
}

#message-pane .scroll-bar:vertical {
	/*-fx-padding: 0px 0px 0px 10px;*/
}

.scroll-pane {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.scroll-bar {
	-fx-background-color: transparent;
	-fx-background-insets: 0;
}

.scroll-bar:vertical {
	-fx-padding: 0px;
}

.scroll-bar .track-background {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
}

.scroll-bar .track {
	-fx-background-color: background-color;
	-fx-background-radius: 0.5em;
	-fx-background-size: 15px auto;
	-fx-background-insets: 0;
}

.scroll-bar .thumb {
	-fx-background-color: border-color;
	-fx-background-insets: 0 1 0 1;
	-fx-background-radius: 0.5em;
	-fx-border-color: transparent;
	-fx-border-width: 1 0 0 0;
	-fx-border-radius: 0.9em;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
	-fx-background-color: transparent;
	-fx-background-insets: 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow,
.corner {
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-shape: null;
}