.root {
	title-color: rgb(100, 100, 100);
	background-color: rgb(245, 245, 245);
	light-background-color: rgb(255, 255, 255);
	title-stripe-color: rgb(235, 130, 115);
	control-color: rgb(130, 130, 130);
	control-hover-color: rgb(50, 50, 50);
	dark-control-color: control-hover-color;
	dark-control-hover-color: control-color;
	light-control-color: rgb(240, 240, 240);
	light-control-hover-color: light-background-color;
	button-color: rgb(250, 250, 250);
	border-color: rgb(200, 200, 200);
	tab-stripe-color: rgb(235, 130, 115);
	green-button-color: rgb(130, 205, 115);
	green-border-color: rgb(120, 160, 85);
	red-button-color: rgb(240, 95, 80);
	red-border-color: rgb(230, 50, 50);
	blue-button-color: rgb(100, 175, 230);
	blue-border-color: rgb(90, 130, 200);
	light-line-color: rgb(230, 230, 230);
	message-source-color: rgb(50, 50, 50);
	message-color: control-color;
	message-time-color: border-color;
	self-message-source-color: rgb(90, 130, 200);
	self-message-color: rgb(120, 170, 240);
	highlight-color: rgb(0, 0, 0);
	highlight-background-color: rgb(255, 235, 235);
	highlight-stripe-color: tab-stripe-color;
	notice-color: highlight-color;
	notice-background-color: rgb(255, 245, 200);
	notice-stripe-color: rgb(255, 200, 135);
	join-message-color: rgb(160, 200, 140);
	event-message-color: notice-stripe-color;
	part-message-color: rgb(235, 130, 115);
	link-message-color: rgb(115, 200, 235);
	link-message-hover-color: rgb(30, 150, 200);
	text-selection-color: background-color;
}

.icon {
	-fx-text-fill: control-color;
}

.icon .label {
	-fx-font-family: FontAwesome;
	-fx-font-size: 16pt;
}

.label {
	-fx-text-fill: control-color;
	-fx-font-family: Open-Sans;
}

.button {
	-fx-background-color: button-color;
	-fx-border-color: border-color;
	-fx-text-fill: control-color;
	-fx-font-size: 16pt;
	-fx-border-radius: 3px;
	-fx-background-radius: 3px;
	-fx-padding: 0px;
}

.button:hover {
	-fx-text-fill: control-hover-color;
}

.button:hover .icon {
	-fx-text-fill: control-hover-color;
}

.green .icon {
	-fx-text-fill: light-control-color;
}

.green {
	-fx-background-color: green-button-color;
	-fx-border-color: green-border-color;
	-fx-text-fill: light-control-color;
}

.green:hover {
	-fx-text-fill: light-control-hover-color;
}

.green:hover .icon {
	-fx-text-fill: light-control-hover-color;
}

.red .icon {
	-fx-text-fill: light-control-color;
}

.red {
	-fx-background-color: red-button-color;
	-fx-border-color: red-border-color;
	-fx-text-fill: light-control-color;
}

.red:hover {
	-fx-text-fill: light-control-hover-color;
}

.red:hover .icon {
	-fx-text-fill: light-control-hover-color;
}

.blue .icon {
	-fx-text-fill: light-control-color;
}

.blue {
	-fx-background-color: blue-button-color;
	-fx-border-color: blue-border-color;
	-fx-text-fill: light-control-color;
}

.blue:hover {
	-fx-text-fill: light-control-hover-color;
}

.blue:hover .icon {
	-fx-text-fill: light-control-hover-color;
}

.split-pane {
	-fx-background-color: border-color;
	-fx-background-radius: 0px 0px 6px 6px;
}

.split-pane .split-pane-divider {
	-fx-padding: 0px;
	-fx-border-color: border-color;
}

.split-pane .split-pane-divider .horizontal-grabber {
	-fx-background-color: transparent;
}

.list-view {
	-fx-padding: 0px;
	-fx-background-color: transparent;
	-fx-border-width: 0px;
}

.list-cell {
	-fx-background-color: transparent;
	-fx-border-width: 0px;
}