#network-label {
	-fx-background-image: url("../images/icons/network.png");
}

#channel-label {
	-fx-background-image: url("../images/icons/channel.png");
}

#user-label {
	-fx-background-image: url("../images/icons/user.png");
}