.list-cell {
	-fx-background-color: transparent;
	-fx-border-color: border-color;
	-fx-border-width: 0px 1px 0px 0px;
	-fx-padding: 0px 20px 0px 20px;
	-fx-font-size: 24pt;
	-fx-text-fill: control-color;
}

.list-cell .network {
	-fx-font-size: 14pt;
}

.list-cell:empty {
	-fx-background-color: transparent;
	-fx-border-width: 0px 1px 0px 0px;
}

.list-cell:selected {
	-fx-background-color: light-background-color;
	-fx-border-color: border-color;
	-fx-border-width: 1px 0px 1px 0px;
	-fx-text-fill: dark-control-color;
}

.list-cell:hover {
	-fx-text-fill: control-hover-color;
}

.list-cell:selected:hover {
	-fx-text-fill: dark-control-hover-color;
}

.first .list-cell:selected {
	-fx-border-width: 0px 0px 1px 0px;
}