#title-bar {
	-fx-background-color: background-color;
	-fx-background-radius: 4px 4px 0px 0px;
	-fx-border-radius: 4px 4px 0px 0px, 0px;
	-fx-border-color: border-color, title-stripe-color;
	-fx-border-width: 1px 1px 0px 1px, 0px 0px 3px 0px;
}

#title {
	-fx-text-fill: title-color;
}

#title .label {
	-fx-font-size: 18pt;
}

.button {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-padding: 0px;
}

#minimize-button {
	-fx-translate-x: -2px;
	-fx-translate-y: 7px;
}

#resize-button {
	-fx-translate-y: 1px;
}