#container {
	-fx-padding: 10px 20px 20px 20px;
	-fx-alignment: center-right;
}

#close-button {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-padding: 0px;
	-fx-translate-y: -5px;
	-fx-translate-x: 10px;
}

#center {
	-fx-spacing: 5px;
}

.label {
	-fx-font-family: Open-Sans;
	-fx-font-size: 14pt;
	-fx-text-fill: control-color;
}

#header {
	-fx-font-size: 24pt;
	-fx-text-fill: title-color;
}

.text-field {
	-fx-alignment: center-right;
}

.button {
	-fx-font-size: 16pt;
	-fx-padding: 3px 5px 3px 5px;
}

#connect-button {
	-fx-translate-y: 10px;
	-fx-focus-traversable: false;
}